<div class="grid wide footer__content">
    <div class="row">
      <div class="col l-2-4 m-4 c-6">
        <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-item__link">Trung Tâm Trợ Giúp</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">Hướng Dẫn Mua Hàng</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">Chính Sách Vận Chuyển</a>
          </li>
        </ul>
      </div>
      <div class="col l-2-4 m-4 c-6">
        <h3 class="footer__heading">VỀ CHÚNG TÔI</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-item__link">Giới Thiệu Về Shop</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">Tuyển Dụng</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">Điều Khoản Shop</a>
          </li>
        </ul>
      </div>
      <div class="col l-2-4 m-4 c-6">
        <h3 class="footer__heading">DANH MỤC</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-item__link">Thời trang</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">Đồ điện tử</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">Du lịch</a>
          </li>
        </ul>
      </div>
      <div class="col l-2-4 m-4 c-6">
        <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-item__link">
              <i class="footer-item__icon fab fa-facebook-square"></i>
              Facebook</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">
              <i class="footer-item__icon fab fa-instagram-square"></i>
              Instagram</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item__link">
              <i class="footer-item__icon fab fa-linkedin"></i>
              Linkedin</a>
          </li>
        </ul>
      </div>
      <div class="col l-2-4 m-8 c-12">
        <h3 class="footer__heading">VÀO CỬA HÀNG TRÊN ỨNG DỤNG</h3>
        <div class="footer__download">
          <img src="./assets/img/qr_code.png" alt="Download QR" class="footer__dowload-qr" />
          <div class="footer__download-apps">
            <a href="#" class="footer__download-app-link">
              <img src="./assets/img/google_play.png" alt="Google Play" class="footer__download-app-img" />
            </a>
            <a href="#" class="footer__download-app-link">
              <img src="./assets/img/appstore.png" alt="App store" class="footer__download-app-img" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="grid wide">
      <p class="footer__text">
        © 2020 Huấn Hoa Hồng - Cần cù thì bù siêng năng
      </p>
    </div>
  </div>